.auth-container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background-color: #1f3c88;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
